@model IEnumerable<ASPNETFINAL.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<article>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @using (Html.BeginForm())
    {
        <p class="searchBox">
            <div class="">Find by name: </div><div class="searchBox">@Html.TextBox("SearchString")
            <input type="submit" value="Search"/></div>
        </p> 
    }
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Game Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td>
                   <p class="button"> @Html.ActionLink("Add to Cart","AddToCart","Game",new { id = item.GameId },"")</p>
                </td>
            </tr>
        }
    </table>
    </article>
